!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:description => page[:description]}
    %title= "#{global[:title]} - #{page[:title]}"
    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %img{:src=> image_url_for('tinysite.png'), :class => 'logo'}
    %nav
      = navigation
    
    ~ page['body']
    
    %hr
    
    #disqus_thread
    :javascript
      var disqus_shortname = 'tinysite';
      var disqus_identifier = "tinysite}";
      var disqus_url = "http://tinysite.heroku.com";
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      
